{% extends 'layout.html' %}
{% load static %}
{% block titulo %} CONTACTO {% endblock titulo %}

{% block content %}
<section class="contact-section bg-black vh-100">
    <div class="container px-2 px-lg-2">
        <div class="d-flex justify-content-center align-items-center ">
            <div class="row">
                <div class="col-ms-4 mb-2 mb-md-2 ">
                    <div class="card py-4 h-100 mx-auto bg-lightgray" style="background-color: rgb(61, 63, 58);">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h3 class="text-uppercase m-0 text-black text-decoration-underline">TELEFONO</h3>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black fw-bold">+54 3624-968347</div>
                        </div>
                    </div>
                </div>
                <div class="col-ms-4 mb-2 mb-md-2">
                    <div class="card py-4 h-100 mx-auto bg-lightgray" style="background-color: rgb(61, 63, 58);">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h3 class="text-uppercase m-0 text-black text-decoration-underline">EMAIL</h3>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black fw-bold"><a>rodry_valenzuela@hotmail.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-ms-4 mb-2 mb-md-2 ">
                    <div class="card py-4 h-100 mx-auto bg-lightgray" style="background-color: rgb(61, 63, 58);">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h3 class="text-uppercase m-0 text-black text-decoration-underline">DIRECCION</h3>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black fw-bold">Chaco, Argentina</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}

